<template>
  <b-card color="grey lighten-4" light>
    <b-card-text>
      <content-section title="Who am I?" class="section">
        I'm a developer born in Thailand.<br />
        I'm interested and skilled in different topics of Information Technology
        including programming, web development.
      </content-section>
      <content-section v-if="abouts" title="About" class="mb-3">
        <b-row v-for="(about, i) in abouts" :key="i">
          <b-col cols="1"><font-awesome-icon icon="chevron-right" /></b-col>
          <b-col cols="11">
            <p>
              <strong>{{ about.text }}</strong
              ><br />
            </p>
          </b-col>
        </b-row>
      </content-section>
      <content-section v-if="educations" title="Education">
        <b-row v-for="(education, i) in educations" :key="i">
          <b-col md="4"> {{ education.from }} - {{ education.to }} </b-col>
          <b-col md="8">
            <strong v-if="education.title">{{ education.title }}</strong>
            <div v-if="education.location">
              <i>{{ education.location }}</i>
            </div>
          </b-col>
        </b-row>
      </content-section>
      <content-section
        v-if="skills"
        id="to-timeline"
        title="Skills and Expertize"
      >
        <b-row wrap>
          <template v-for="(skill, i) in skills">
            <b-col v-if="skill.divider" :key="i" md="12" cols="12" mb="10" ><br/></b-col>
            <b-col v-else :key="i" md="6" cols="12">
              <div class="mr-2 ml-2">
                <div class="align-center">
                  <font-awesome-icon :icon="skill.icon" />
                  {{ skill.title }}
                </div>
                <b-progress
                  :value="skill.value"
                  variant="secondary"
                  class="mb-3 progress"
                ></b-progress>
              </div>
            </b-col>
          </template>
        </b-row>
      </content-section>
      <timeline-container />
    </b-card-text>
  </b-card>
</template>

<script>
import ContentSection from '@/components/Section'
import TimelineContainer from '@/pages/cv/content/Timeline'
export default {
  name: 'MainContent',
  components: { ContentSection, TimelineContainer },
  data: () => ({
    abouts: [
      {
        text:
          'Excellent knowledge of developing web services and relational databases'
      },
      {
        text: 'Experience in common third-party APIs'
      },
      {
        text:
          'Passionate about giving best design and following coding practices'
      },
      {
        text: 'Familiar with web development and content management systems'
      },
      {
        text: 'Good in managing time and organizing tasks'
      },
      {
        text:
          'Career oriented, hard working and ability to handle multiple tasks'
      },
      {
        text: 'Quick learner and ability to learn new concepts '
      }
    ],
    educations: [
      {
        from: '2007',
        to: '2010',
        title: "Bachelor's degree, Computer Engineering",
        location: 'Dhurakij Pundit University'
      }
    ],
    skills: [
      {
        title: 'HTML',
        icon: ['fab', 'html5'],
        value: 80
      },
      {
        title: 'CSS',
        icon: ['fab', 'css3'],
        value: 70
      },
      {
        title: 'Bootstrap',
        icon: ['fab', 'bootstrap'],
        value: 70
      },
      {
        title: 'Material UI',
        icon: ['fab', 'uikit'],
        value: 70
      },
      { divider: true },
      {
        title: 'PHP',
        icon: ['fab', 'php'],
        value: 80
      },
      {
        title: 'Laravel Framework',
        icon: ['fab', 'laravel'],
        value: 70
      },
      {
        title: 'Codeigniter',
        icon: ['fab', 'codepen'],
        value: 70
      },
      { divider: true },
      {
        title: 'JavaScript',
        icon: ['fab', 'js'],
        value: 90
      },

      {
        title: 'Vue.js Framework',
        icon: ['fab', 'vuejs'],
        value: 20
      },
      {
        title: 'React.js Framework',
        icon: ['fab', 'react'],
        value: 80
      },
      { divider: true },
      {
        title: 'Amazon Web Services',
        icon: ['fab', 'aws'],
        value: 70
      },
      {
        title: 'Ubuntu Server',
        icon: ['fab', 'ubuntu'],
        value: 50
      },
      {
        title: 'Git',
        icon: ['fab', 'git'],
        value: 80
      },
      {
        title: 'Docker',
        icon: ['fab', 'docker'],
        value: 70
      },
      {
        title: 'Nginx',
        icon: ['fab', 'neos'],
        value: 60
      },
      { divider: true },
      {
        title: 'Test Driven Development',
        icon: ['fas', 'vial'],
        value: 40
      },
      {
        title: 'Leadership',
        icon: ['fas', 'chalkboard'],
        value: 70
      },
      { divider: true },
      {
        title: 'Objective-C',
        icon: ['fas', 'mobile-alt'],
        value: 60
      },
      {
        title: 'Swift',
        icon: ['fab', 'swift'],
        value: 50
      },
      { divider: true },
      {
        title: 'SQL',
        icon: ['fas', 'server'],
        value: 75
      },
      {
        title: 'MongoDB',
        icon: ['fab', 'envira'],
        value: 75
      },
      {
        title: 'Redis',
        icon: ['fas', 'layer-group'],
        value: 70
      },
      { divider: true },
      {
        title: 'Line Bot',
        icon: ['fab', 'line'],
        value: 65
      }
    ]
  })
}
</script>

<style scoped>
.title {
  border-bottom: 2px #bfbfbf solid;
  line-height: 1.5 !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.progress {
  height: 5px;
}
</style>
