<template>
  <b-container>
    <content-section v-if="items" id="timeline" title="My Experiences">
      <b-row>
        <b-col md="12">
          <ul class="timeline">
            <li v-for="(item, i) in items" :key="i">
              <b-row >
              <b-col lg="8" cols="12">
                <a href="#" class="timeline-line">{{ item.title }}</a>
              </b-col>
              <b-col lg="4" cols="12">
                <a href="#" class="float-right timeline-line">{{ item.year }}</a>
              </b-col>
              </b-row>
              <div class="description">
                <div v-if="item.html" v-html="item.html" />
              </div>
            </li>
          </ul>
        </b-col>
      </b-row>
    </content-section>
  </b-container>
</template>

<script>
import ContentSection from '@/components/Section'
export default {
  name: 'Timeline',
  components: { ContentSection },
  data: () => ({
    items: [
      {
        year: 'Sep 2018 – Present',
        title: 'Emetworks Co.,LTD ( Senior Full Stack Engineer )',
        html:
          '<ul>' +
          '<li>Designed, developed, coded, tested and debugged system requirements for the purpose of conversions and development projects</li>' +
          '<li>Handled Node.js ,React development for Mongo DB & MS SQL Sever driven website follow Scrum Methodology</li>' +
          '<li>Designed and developed LINE API (Chat bot)</li>' +
          '<li>Testing and analyzing programming projects and reporting the same to the programming manager</li>' +
          '</ul>'
      },
      {
        year: 'May 2017 – Aug 2018',
        title: 'J. Walter Thompson ( Senior Programmer )',
        html:
          '<ul>' +
          '<li>Performing the responsibilities of implementing and hosting of systems on a web server (Amazon web service) .</li>' +
          '<li>Designed, developed, coded, tested and debugged system requirements for the purpose of conversions and development projects</li>' +
          '<li>Keeping track of website visits, updating new content displays on websites</li>' +
          '<li>Communicated with clients to meet up with their requirements</li>' +
          '<li>Handled PHP backend development for dynamic database driven website</li>' +
          '<li>Testing and analyzing programming projects and reporting the same to the programming manager</li>' +
          '</ul>'
      },
      {
        year: 'May 2016 – Apr 2017',
        title: 'MullenLowe Group ( Senior Programmer )',
        html:
          '<ul>' +
          '<li>Performing the responsibilities of implementing and hosting of systems on a web server (Amazon web service) .</li>' +
          '<li>Designed, developed, coded, tested and debugged system requirements for the purpose of conversions and development projects</li>' +
          '<li>Keeping track of website visits, updating new content displays on websites</li>' +
          '</ul>'
      },
      {
        year: 'May 2016 – Nov 2016',
        title: 'Dai-Ichi Kikaku ( Senior Programmer )',
        html:
        '<ul>' +
        '<li>Coordinating with team members in developing database structure</li>' +
        '<li>Troubleshot problems with PHP and other web technologies</li>' +
        '<li>Designed, developed, coded, tested and debugged system requirements for the purpose of conversions and development projects</li>' +
        '<li>Keeping track of website visits, updating new content displays on websites</li>' +
        '</ul>'
      },
      {
        year: 'Oct 2011 – Apr 2016',
        title: 'Brilliant & Million ( Software Developer )',
        html:
        '<ul>' +
        '<li>Designed, developed, coded, tested and debugged system requirements for the purpose of conversions and development projects</li>' +
        '<li>Communicated with clients to meet up with their requirements</li>' +
        '<li>Developing and creating IOS ,PHP MySQL applications as per the specifications</li>' +
        '<li>Handled PHP backend development for dynamic database driven website</li>' +
        '<li>Testing and analyzing programming projects and reporting the same to the programming manager</li>' +
        '</ul>'
      },
      {
        year: 'Apr 2011 – Sep 2011',
        title: 'Sun and Sky ( Junior Web Developer )',
        html:
        '<ul>' +
        '<li>Handled PHP backend development for dynamic database driven website</li>' +
        '<li>Implemented, prepared, executed and installed support to assure quality system changes</li>' +
        '<li>Performed other related tasks under the instructions of a senior PHP programmer</li>' +
        '</ul>'
      }
    ]
  })
}
</script>

<style scoped>
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #17a2b8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
.timeline-line{
  color:#17a2b8;
}
</style>
