<template>
  <b-container class="container fluid">
    <b-card>
      <b-card-text>
        <content-section mb="10" title="Question 1" class="section">
          <div class="question-text"><b>Question</b> : {{ $store.getters.question1.question }} - Please
          create a new function for finding X, Y, Z value<br /></div>
          <div class="question-text"><b>Answer</b> : <span>{{ $store.getters.question1.result }}</span></div>
        </content-section>
        <br />
        <content-section title="Question 2" class="section">
          <div class="question-text"><b>Question</b> : If {{ $store.getters.question2.question }} - Please
          create a new function for finding B and C value</div>
          <div class="question-text"><b>Answer</b> : <span>{{ $store.getters.question2.result }}</span></div>
        </content-section>
        <br />
        <content-section title="Best Way" class="section">
          <b-form v-on:submit.prevent="findBestWay()">
            <b-container>
              <b-row>
                <b-col cols="6" sm="4" md="4" lg="5" class="mt-2">
                  <b-form-input
                    placeholder="Origin"
                    type="text"
                    v-model="origin"
                  ></b-form-input>
                </b-col>
                <b-col cols="6" sm="4" md="4" lg="5" class="mt-2">
                  <b-form-input
                    placeholder="Destination"
                    v-model="destination"
                    type="text"
                  ></b-form-input>
                </b-col>
                <b-col cols="12" sm="4" md="4" lg="2" class="mt-2">
                  <b-button block type="submit" variant="primary" class="mb-2">
                    <b-icon icon="search"></b-icon> Find
                  </b-button>
                </b-col>
              </b-row>
            </b-container>
          </b-form>
          <b-container v-if="$store.getters.bestway">
            <b>Summary</b> : {{ $store.getters.bestway.routes[0].summary
            }}<br />
            <b>Distance</b> :
            {{ $store.getters.bestway.routes[0].legs[0].distance.text }}<br />
            <b>Duration</b> :
            {{ $store.getters.bestway.routes[0].legs[0].duration.text }}<br />
            <b-row>
              <b-col md="8">
                <ul class="timeline">
                  <li
                    v-for="(item, i) in $store.getters.bestway.routes[0].legs[0]
                      .steps"
                    :key="i"
                  >
                    <b-row>
                      <b-col lg="8" cols="12">
                        <a href="#" class="timeline-line">{{
                          item.distance.text
                        }}</a>
                      </b-col>
                      <b-col lg="4" cols="12">
                        <a href="#" class="float-right timeline-line">{{
                          item.duration.text
                        }}</a>
                      </b-col>
                    </b-row>
                    <div class="description">
                      <div
                        v-if="item.html_instructions"
                        v-html="item.html_instructions"
                      />
                    </div>
                  </li>
                </ul>
              </b-col>
            </b-row>
          </b-container>
        </content-section>
      </b-card-text>
    </b-card>
  </b-container>
</template>

<script>
import ContentSection from '@/components/Section'
export default {
  components: { ContentSection },
  data () {
    return {
      origin: 'SCG',
      destination: 'Central World'
    }
  },
  created () {
    this.fetchQuestion1()
    this.fetchQuestion2()
    this.findBestWay()
  },
  methods: {
    fetchQuestion1 () {
      this.$store.dispatch('fetchQuestion1')
    },
    fetchQuestion2 () {
      this.$store.dispatch('fetchQuestion2')
    },
    findBestWay () {
      if (this.origin && this.destination) {
        let payload = { origin: this.origin, destination: this.destination }
        this.$store.dispatch('findBestWay', payload)
      }
    }
  }
}
</script>

<style scoped>
.question-text{
  margin-top:15px;
}
span {
  background-color: #343a40;
  color:white;
  padding: 5px;
  margin: 5px;
}
.container {
  margin-top: 20px;
  margin-bottom: 20px;
}
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #17a2b8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
.timeline-line {
  color: #17a2b8;
}
</style>
