<template>
  <div class="container-create">
    <b-form v-on:submit.prevent="addDoScg()">
      <b-container>
        <b-row>
          <b-col cols="6" sm="4" md="4" lg="5" class="mt-2">
            <b-form-input
              placeholder="Title"
              v-model="title"
              type="text"
            ></b-form-input>
          </b-col>
          <b-col cols="6" sm="4" md="4" lg="5" class="mt-2">
            <b-form-select v-model="status" :options="options"></b-form-select>
          </b-col>
          <b-col cols="12" sm="4" md="4" lg="2" class="mt-2">
            <b-button block type="submit" variant="primary" class="mb-2">
              <b-icon icon="plus"></b-icon> Add
            </b-button>
          </b-col>
        </b-row>
      </b-container>
    </b-form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: '',
      status: 0,
      options: [
        { value: 0, text: 'Fail' },
        { value: 1, text: 'Success' }
      ]
    }
  },
  methods: {
    addDoScg () {
      if (this.title) {
        let payload = { title: this.title, status: this.status }
        this.$store.dispatch('addDoScg', payload)
        this.title = ''
        this.status = 0
      }
    }
  }
}
</script>
<style scoped>
.container-create {
  padding: 20px;
  background: #d2d2d2;
  color: white;
}
</style>
