<template>
  <b-table-simple responsive>
    <b-thead head-variant="dark">
      <b-tr>
        <b-th class="d-none d-sm-table-cell">No</b-th>
        <b-th>Title</b-th>
        <b-th>Status</b-th>
        <b-th>Action</b-th>
      </b-tr>
    </b-thead>
    <b-tbody>
      <b-tr v-for="(project, index) in $store.getters.projects" :key="index">
        <b-td class="d-none d-sm-table-cell">{{ index + 1 }}</b-td>
        <b-td v-if="index !== editIndex">{{ project.title }}</b-td>
        <b-td v-if="index !== editIndex">
          <b-badge
            class="badge-box"
            v-if="project.status === 1"
            variant="success"
            >Success</b-badge
          >
          <b-badge
            class="badge-box"
            v-if="project.status === 0"
            variant="danger"
            >Fail</b-badge
          >
        </b-td>
        <b-td v-if="index !== editIndex">
          <b-button
            type="button"
            class="btn btn-danger mr-2"
            v-on:click="deleteDoScg(index, project._id)"
          >
            <b-icon icon="trash"></b-icon>
          </b-button>
          <b-button
            type="button"
            class="btn btn-warning"
            v-on:click="openEdit(index, project)"
          >
            <b-icon icon="pencil"></b-icon>
          </b-button>
        </b-td>

        <b-td v-if="index === editIndex">
          <b-form-input
            type="text"
            v-model="project.title"
            class="form-control"
            @change.native="title = $event.target.value"
          />
        </b-td>
        <b-td v-if="index === editIndex">
          <b-form-select
            v-model="project.status"
            :options="options"
            @change.native="status = $event.target.value"
          ></b-form-select>
        </b-td>
        <b-td v-if="index === editIndex">
          <b-button
            type="button"
            class="btn btn-success mr-2"
            v-on:click="editDoScg(project._id)"
          >
            Save
          </b-button>
          <b-button
            type="button"
            class="btn btn-secondary"
            v-on:click="closeEdit(index)"
          >
            Cancel
          </b-button>
        </b-td>
      </b-tr>
    </b-tbody>
    <b-tfoot>
      <b-tr>
        <b-td colspan="4" variant="dark" class="text-right">
          Total Rows: <b>{{ $store.getters.projects.length }}</b>
        </b-td>
      </b-tr>
    </b-tfoot>
  </b-table-simple>
</template>

<script>
export default {
  data () {
    return {
      editIndex: -1,
      title: '',
      status: 0,
      options: [
        { value: 0, text: 'Fail' },
        { value: 1, text: 'Success' }
      ]
    }
  },
  created () {
    this.fetchDoScg()
  },
  methods: {
    fetchDoScg () {
      this.$store.dispatch('fetchDoScg')
    },
    deleteDoScg (index, _id) {
      let payload = { index: index, _id: _id }
      this.$store.dispatch('deleteDoScg', payload)
    },
    openEdit (index, project) {
      this.editIndex = index
      this.title = project.title
      this.status = project.status
    },
    closeEdit (index) {
      this.editIndex = -1
      this.title = ''
      this.status = 0
    },
    editDoScg (_id) {
      let payload = {
        index: this.editIndex,
        _id: _id,
        title: this.title,
        status: this.status
      }
      this.$store.dispatch('editDoScg', payload).then(this.closeEdit())
    }
  }
}
</script>
