<template>
    <div id="nav">
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand href="#">SCG DIGITAL OFFICE</b-navbar-brand>
        <b-navbar-toggle target="nav_collapse"/>
        <b-collapse is-nav id="nav_collapse">
          <b-navbar-nav class="ml-auto">
            <b-nav-item href="./home">DOSCG</b-nav-item>
            <b-nav-item href="./question">Question</b-nav-item>
            <b-nav-item href="./cv">Curriculum Vitae</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
</template>
