<template>
  <b-footer type="dark" variant="dark" class="footer">
    © 2020 Chayakorn Jenpitak, Ltd. All Rights Reserved
  </b-footer>
</template>
<script></script>
<style>
.footer {
  flex-shrink: 0;
  background: #343a40;
  color: white;
  padding: 20px;
}
</style>
