<template>
  <div class="wrapper">
    <div class="content">
      <content-topbar></content-topbar>
      <b-container>
        <content-main></content-main>
      </b-container>
    </div>
    <content-footer></content-footer>
  </div>
</template>
<script>
import Slideout from 'vue-slideout'
import ContentMain from './Content.vue'
import ContentFooter from './ContentFooter.vue'
import ContentTopbar from './ContentTopbar.vue'
export default {
  components: {
    Slideout,
    ContentMain,
    ContentFooter,
    ContentTopbar
  }
}
</script>

<style>
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  flex: 1 0 auto;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background-color: #1d1f20;
  color: white;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
</style>
