<template>
  <b-container class="container" fluid="sm">
    <b-row>
      <b-col cols="12" md="4">
        <sidebar-container />
      </b-col>
      <b-col cols="12" md="8">
        <content-container />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import SidebarContainer from '@/pages/cv/sidebar/Container'
import ContentContainer from '@/pages/cv/content/Container'

export default {
  name: 'CvContainer',
  components: {
    ContentContainer,
    SidebarContainer
  }
}
</script>

<style scoped>
.container {
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>
