<template>
  <b-container class="container fluid">
      <b-card>
        <b-card-header>
          <h2>Project List</h2>
        </b-card-header>
        <create-container></create-container>
        <list-container></list-container>
      </b-card>
  </b-container>
</template>

<script>
import CreateContainer from '@/pages/scgdo/content/Create'
import ListContainer from '@/pages/scgdo/content/List'
export default {
  components: {
    CreateContainer,
    ListContainer
  }
}
</script>

<style scoped>
.container {
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>
