<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
html,
body {
  height: 100%;
}
#app {
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  height: 100%;
}
</style>
