<template>
  <div class="box-avatar text-center">
    <b-img :src="profile" rounded="circle" alt="Profile"></b-img>
  </div>
</template>

<script>
export default {
  name: 'Avatar',
  data: () => ({
    profile:
      'https://chayakorn.s3-ap-southeast-1.amazonaws.com/profile.png'
  })
}
</script>

<style scoped>
.box-avatar img{
  width: 100%;
  max-width: 200px;
}
</style>
