<template>
  <b-card bg-variant="dark" text-variant="white">
    <b-card-text>
      <avatar />
      <div class="title-info text-center mb-4 mt-3">
        <h3>
          {{ info.fullname}}
        </h3>
        <span>
          {{ info.position}}
        </span>
      </div>

      <sidebar-section :options="sections.info" />
      <sidebar-section :options="sections.socials" />
      <sidebar-section :options="sections.hobbies">
        <template v-slot:item="{ item }">
          <b-badge class="badge" pill variant="info">{{ item.text }}</b-badge>
        </template>
      </sidebar-section>
    </b-card-text>
  </b-card>
</template>

<script>
import Avatar from '@/pages/cv/sidebar/Avatar'
import SidebarSection from '@/pages/cv/sidebar/Section'
export default {
  name: 'Sidebar',
  components: { SidebarSection, Avatar },
  data () {
    return {
      info: {
        fullname: 'Chayakorn Jenpitak',
        position: 'Senior Full Stack Engineer at Emetworks Co.,LTD'
      },
      sections: {
        info: {
          title: 'INFO',
          items: [
            {
              name: 'Email',
              icon: 'envelope',
              text: 'chayakorn.thailand@gmail.com'
            },
            {
              name: 'Phone',
              icon: 'tablet',
              text: '+66866611007'
            },
            {
              name: 'Birth Date',
              icon: 'bullseye',
              text: 'Jan 19, 1989'
            },
            {
              name: 'Habitation',
              icon: 'map',
              text: 'Pak Kret, Nonthaburi, Thailand'
            }
          ]
        },
        socials: {
          title: 'SOCIALS',
          items: [
            {
              icon: 'trophy',
              text: 'linkedin.com/in/chayakorn-jenpitak-96864569',
              link: 'https://www.linkedin.com/in/chayakorn-jenpitak-96864569/'
            },
            {
              icon: 'people',
              text: 'facebook.com/Chayak0rN',
              link: 'https://www.facebook.com/Chayak0rN'
            },
            {
              icon: 'chat',
              text: 'line id : bankj123',
              link: 'http://line.me/ti/p/~bankj123'
            }
          ]
        },
        hobbies: {
          title: 'HOBBIES',
          items: [
            {
              text: 'Challenges'
            },
            {
              text: 'Basketball'
            },
            {
              text: 'Games'
            },
            {
              text: 'Party'
            },
            {
              text: 'Getting out of Safe Zone'
            }
          ]
        }
      }
    }
  }
}
</script>

<style scoped>
.sidebar {
  background: #2e2e2e;
}
.badge {
  margin-left: 5px;
}
.title-info span {
  font-size: 13px;
}
</style>
