<template>
  <div class="section-item">
    <b-row>
      <b-col cols="2"> <b-icon :icon="item.icon" class="mini-icon"></b-icon></b-col>
      <b-col cols="10">
        <div>
          {{ item.name }}
        </div>
        <p>
          <a
            v-if="item.link"
            class="grey-text"
            :href="item.link"
            target="_blank"
          >
            {{ item.text }}
          </a>
          <span v-else class="grey-text">
            {{ item.text }}
          </span>
        </p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'SidebarSectionItem',
  props: { item: { type: Object, default: () => {} } },
  computed: {
    hasIcon () {
      return !!this.item.icon
    }
  }
}
</script>

<style scoped>
.mini-icon{
  font-size: 30px;
}
.grey-text{
  color: #9e9e9e !important;
}
.section-item{
  font-size: 13px;
}
</style>
