<template>
  <div>
    <div>
      <h3 class="title font-weight-light mb-1">
        {{ title }}
      </h3>
    </div>
    <div>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContentSection',
  components: {},
  props: { title: { type: String, default: '' } }
}
</script>

<style scoped>
.title {
  font-weight: 300 !important;
  font-size: 20px !important;
  border-bottom: 2px #bfbfbf solid;
  line-height: 1.5 !important;
  letter-spacing: 0.02em !important;
}
</style>
